.fade-in {
  animation: fadeIn ease 2s;
}

.shadow {
  left: 50%;
  margin-left: -650px;
  bottom: 0;
  border-radius: 50px;
  width: 1300px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 20s ease;
}

.animated-section {
  position: relative;
  height: 640px;
  overflow: hidden;
  user-select: none;
  width: 100%;
  max-width: 100%;
}

.ease-in {
  position: absolute;
  left: 50%;
}

.opac {
  animation: all 2s ease;
  opacity: 0.3;
}

.triangle1 {
  margin-left: -580px;
  bottom: 300px;
}

.triangle2 {
  margin-left: 30px;
  bottom: 550px;
}

.triangle3 {
  margin-left: -280px;
  bottom: 450px;
}

.square1 {
  margin-left: 330px;
  bottom: 600px;
}

.square2 {
  margin-left: 430px;
  bottom: 400px;
}

.square3 {
  margin-left: 17px;
  bottom: 92px;
}

.ex1 {
  margin-left: -580px;
  bottom: 510px;
}

.ex2 {
  margin-left: 540px;
  bottom: 220px;
}

.dot1 {
  margin-left: 530px;
  bottom: 600px;
}

.dot2 {
  margin-left: -320px;
  bottom: 600px;
}

.dot3 {
  margin-left: 180px;
  bottom: 500px;
}

.dot4 {
  margin-left: -600px;
  bottom: 200px;
}

.dot5 {
  margin-left: 620px;
  bottom: 140px;
}

.circle1 {
  margin-left: -360px;
  bottom: 530px;
}

.circle2 {
  margin-left: 575px;
  bottom: 280px;
}

.circle3 {
  margin-left: -200px;
  bottom: 90px;
}

.shield {
  margin-left: 425px;
  bottom: 10px;
}

.monitor {
  margin-left: -290px;
  bottom: 10px;
}

.laptop {
  margin-left: -5px;
  bottom: 10px;
}

.potion {
  margin-left: -610px;
  bottom: 10px;
}

.headphones {
  bottom: 142px;
  margin-left: 270px;
  position: absolute;
  left: 50%;
  transform: scale(0.75);
}

.controller {
  bottom: 10px;
  margin-left: -255px;
}

.iphone {
  margin-left: -400px;
  bottom: 10px;
}

.android {
  margin-left: -550px;
  bottom: 10px;
}

.mystery-box {
  margin-left: -240px;
  bottom: 462px;
}

.coin1 {
  left: 50%;
  margin-left: -430px;
  bottom: 300px;
  position: absolute;
}

.coin2 {
  left: 50%;
  margin-left: 80px;
  bottom: 530px;
  position: absolute;
}

.bomb {
  left: 50%;
  margin-left: -480px;
  bottom: 335px;
  position: absolute;
}

.game {
  left: 50%;
  margin-left: 250px;
  bottom: 390px;
  position: absolute;
}

.footer-animation {
  -webkit-animation-play-state: running;
  -webkit-animation: footer-animation 100s linear infinite alternate;
  animation-play-state: running;
  animation: footer-animation 100s linear infinite alternate;
}

.float-1 {
  animation-name: float-1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.float-2 {
  animation-name: float-2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

.dropdown {
  animation-name: dropdown;
  animation-duration: 0.15s;
}

@keyframes float-1 {
  0% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes float-2 {
  0% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translate(40px, -100px);
  }
  80% {
    transform: translate(2px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes footer-animation {
  0% {
    d: path(
      "M140.881198,194.260295 C257.600568,129.32862 342.939626,119.84993 418.009939,203.154617 C493.080251,286.459305 545.728689,70.9046172 636.439626,63.9593047 C727.150564,57.0139922 768.99822,139.670242 858.802907,119.431961 C948.607595,99.1936797 1071.91228,-32.9977266 1243.91228,7.75227342 C1415.91228,48.5022734 1404.10369,208.584305 1508.27166,178.709305 C1612.43963,148.834305 1633.73291,79.913472 1711.63588,98.8569055 C1776.28676,114.577866 1819.96778,221.391836 1889.37253,185.808108 C2017.32661,120.206212 2004.01952,336.769569 2004.01952,336.769569 L271.635881,337 L-149.063338,337 C-149.063338,337 -245.850307,175.637635 -58.0633382,228.867188 C33.8652851,254.92501 64.1722713,236.933925 140.881198,194.260295 Z"
    );
  }
  50% {
    d: path(
      "M-60.13579,199.189799 C-33.8674767,-71.7287911 170.194454,11.9640675 274.985105,83.0972992 C379.775756,154.230531 409.072181,161.653171 521.54913,124.460269 C634.026079,87.2673683 645.348165,219.42808 735.152853,199.189799 C824.95754,178.951518 948.262228,46.7601116 1120.26223,87.5101116 C1292.26223,128.260112 1309.89513,321.347957 1414.0631,291.472957 C1518.23106,261.597957 1580.53259,89.5639434 1732.07052,88.5665294 C1892.57296,87.5101116 1897.70372,225.708266 2049.59054,199.189799 C2201.47736,172.671332 2002.94707,336.794682 2002.94707,336.794682 L270.563429,337.025114 L-60.13579,337.025114 C-60.13579,337.025114 -469.886827,134.917309 -282.099858,188.146862 C-190.171235,214.204685 -65.9645849,259.30515 -60.13579,199.189799 Z"
    );
  }
  100% {
    d: path(
      "M-160.553381,263.533987 C-124.4955,243.377988 -18.6139605,181.080724 56.456352,264.385412 C131.526664,347.690099 165.148428,226.409513 223.668826,168.5 C282.189224,110.590487 372.68516,208.331261 462.489847,188.09298 C552.294535,167.854699 723.262827,-40.1656225 847.424394,40.7522734 C971.58596,121.670169 1156.59375,252.295176 1300.40314,228.958726 C1444.21253,205.622277 1478.90991,106.221579 1563.51957,124.699258 C1655.80276,144.85274 1595.69955,250.007434 1832.41793,206.740235 C2069.1363,163.473036 2002.94707,336.794682 2002.94707,336.794682 L270.563429,337.025114 L-60.13579,337.025114 C-60.13579,337.025114 -495.794798,256.512987 -308.007829,309.74254 C-216.079206,335.800362 -208.740043,290.469854 -160.553381,263.533987 Z"
    );
  }
}

.form-img-background {
  opacity: 0;
  animation: fadeIn ease 0.7s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
