.mobile-bar{
  color: white;
  font-size: 1em;
  display: none;
}

.drawer {
  display: flex;
}

.start-here {
  display: none;
}

@media(max-width: 500px){
  .main-app{
    flex-direction: column;
  }

  .call-icon-container {
    display: none;
  }

  .nav-bar {
    padding: 0 10px;
  }

  .login-button {
    margin-right: 10px;
  }

  .mobile-navbar {
    margin: 10px;
    display: flex;
    color: white;
    font-weight: 500;
    /* justify-content: center; */
    align-items: center;
  }

  .start-here {
    margin-left: 10px;
  }
  .create-channel-modal-form {
    width: 100vw;
  }

  .mobile-bar {
    display: block;
    font-size: 1.5em
  }

  .drawer {
    z-index: 10000;
    display: none;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  .footer {
    padding: 20px;
  }

  #drawer-modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.55);
  }
}