.server-index-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2124;
  padding-top: 12px;
  width: 72px;
  position: relative;
  /* overflow-y: scroll; */
}

.server-index-scroller-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2124;
  /* padding-top: 12px; */
  width: 72px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.server-index-scroller-wrapper::-webkit-scrollbar {
  width: 0 !important;
}

.server-index-container::-webkit-scrollbar {
  width: 0 !important;
}
.server-seperator {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background: #2f3136;
  margin: 0 0 8px;
}

.server-home {
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0 0 8px;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #292b2f;
  color: #43b581;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
  position: relative;
}

.server-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-icon {
  width: 30px;
  height: 30px;
}

.server-btn {
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #292b2f;
  color: #43b581;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
  position: relative;
  flex-shrink: 0;
}

.server-grey {
  background-color: #2f3036;
}

.server-icon-wrapper {
  /* position: relative; */
}

.server-margin-wrapper {
  margin: 0 0 8px;
}

.server-btn-hover {
  display: none;
  margin: -46px 1px 1px 1px;
  position: absolute;
  left: 68px;
  /* bottom: 17px; */
  border-radius: 5px;
  color: white;
  background-color: black;
  font-family: Whitney;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px 8px 12px;
  text-align: center;
  white-space: nowrap;
}

p.server-btn-hover::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  pointer-events: none;
}

.server-margin-wrapper:hover + .server-btn-hover {
  display: block;
}

.server-btn:active {
  transform: translateY(1px);
}

.server-btn:active .server-selector {
  left: -12px;
}

.server-margin-wrapper + .server-btn-hover {
  z-index: 4;
}

.server-btn:hover {
  border-radius: 15px;
  color: white;
  background-color: #43b581;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
}

.server-btn:hover > .server-selector {
  height: 20px;
  opacity: 0.75;
  transition: opacity 0.45s ease;
}

.server-icon {
  font-size: 38px;
  font-weight: 200;
  line-height: 0;
}

.server-icon-text {
  font-size: 18px;
  color: #b9bbbe;
}

.blue-btn:hover {
  background-color: #7289d9;
}

.blue-btn:hover > h3 {
  color: white;
}

.server-selector {
  height: 0px;
  color: white;
  position: absolute;
  left: -12px;
  width: 8px;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  opacity: 0;
}

.selected {
  opacity: 1;
  border-radius: 15px;
  color: white;
  background-color: #7289d9;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
}

.selected-green {
  opacity: 1;
  border-radius: 15px;
  color: white;
  background-color: #43b581;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
}

.selected > h3 {
  color: white;
}

.selected > .server-selector {
  opacity: 1;
  height: 40px;
  transition: all 0.15s ease;
}

.selected:hover > .server-selector {
  height: 40px;
  transition: all 0.25s ease;
  opacity: 1;
}

.selected-server-green-icon {
  height: 40px;
  transition: all 0.25s ease;
  opacity: 1;
}

.logout-seperator {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background: #2f3136;
  margin-bottom: 8px;
}

.fa-sign-out-alt:before {
  content: "\f2f5";
  font-size: 20px;
}

.activity-container-header {
  position: relative;
  color: #fff;
  font-weight: 500;
  padding: 0 16px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 3;
  transition: background-color 0.15s ease;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0 rgba(0, 0, 0, 0.05),
    0 2px 0 rgba(0, 0, 0, 0.05);
}

.activity-container-header:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.activity-header {
  position: relative;
}

.activity-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  /* overflow: hidden; */
  position: relative;
  text-decoration: none;
}

.activity-container-channel-wrapper {
  width: 100%;
  height: 34px;
  position: relative;
  text-decoration: none;
}

.activity-container-channel-name {
  width: 100%;
  box-sizing: border-box;
  height: 32px;
  padding: 0 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.wompus-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wompus-container {
  width: 100%;
  height: 100%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.wompus-image {
  flex: 0 1 auto;
  width: 433px;
  height: 232px;
  background-image: url("https://discordapp.com/assets/8c998f8fb62016fcfb4901e424ff378b.svg");
  margin-bottom: 40px;
  background-size: 100% 100%;
}

.wompus-text {
  color: #72767d;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
}

.server-users-container {
  min-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.server-users-scroller {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: auto;
  scrollbar-width: none;
}

.server-users-wrapper {
  max-width: 240px;
  background-color: #f3f3f3;
  padding: 0 0 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2f3136;
}

.server-users-wrapper::-webkit-scrollbar {
  width: 0;
}

.server-users-member-section {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #99aab5;
  padding-right: 8px;
  padding-left: 16px;
  padding-top: 20px;
  height: 40px;
  letter-spacing: 0.08em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, 0.4);
}

.server-user-list-icon {
  position: relative;
  width: 30px;
  height: 30px;
  background-clip: padding-box;
  background-size: 100% 100%;
  background-color: none;
  background-position: 50%;
  border-radius: 50%;
  background-image: url("https://discordapp.com/assets/0e291f67c9274a1abdddeb3fd919cbaa.png");
}

.server-user-list-item-container {
  color: #b9bbbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  height: 40px;
  border-radius: 3px;
  margin: 1px 0 1px 8px;
}

.server-user-list-content-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}

.server-user-list-icon-wrapper {
  margin-right: 10px;
}

.server-user-list-name {
  width: 170px;
}

.server-user-list-name-wrapper {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex: 1 1 auto;
}

.server-user-list-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 17px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.server-user-list-username {
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.server-admin-crown {
  color: #faa61a;
  margin-left: 4px;
  position: relative;
  top: 1px;
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
