.server-index-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2124;
  padding-top: 12px;
  width: 72px;
}

.server-seperator {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background: #2f3136;
  margin: 0 0 8px;
}

.server-home {
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0 0 8px;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #292b2f;
  color: #43b581;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
  position: relative;
}

.server-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-icon {
  width: 30px;
  height: 30px;
}

.server-btn {
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0 0 8px;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #292b2f;
  color: #43b581;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
  position: relative;
}

.server-grey {
  background-color: #2f3036;
}

.server-btn-hover {
  display: none;
  position: absolute;
  left: 55px;
  bottom: 8px;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-family: Whitney;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px 8px 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.server-btn:hover .server-btn-hover {
  display: block;
}

.server-btn:active {
  transform: translateY(1px);
}

.server-btn:hover {
  border-radius: 15px;
  color: white;
  background-color: #43b581;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
}

.server-btn:hover > .server-selector {
  display: block;
  height: 50%;
  opacity: 0.75;
  transition: opacity 0.45s ease;
}

.server-icon {
  font-size: 38px;
  font-weight: 200;
  line-height: 0;
}

.server-icon-text {
  font-size: 18px;
  color: #b9bbbe;
}

.blue-btn:hover {
  background-color: #7289d9;
}

.blue-btn:hover > h3 {
  color: white;
}

.server-selector {
  opacity: 0;
  height: 40px;
  color: white;
  position: absolute;
  left: -12px;
  display: block;
  width: 8px;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
}

.selected {
  opacity: 1;
  border-radius: 15px;
  color: white;
  background-color: #7289d9;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
}

.selected-green {
  opacity: 1;
  border-radius: 15px;
  color: white;
  background-color: #43b581;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-radius 0.25s ease;
}

.selected > h3 {
  color: white;
}

.selected > .server-selector {
  opacity: 1;
  transition: all 0.45s ease;
}

.selected:hover > .server-selector {
  height: 40px;
  transition: all 0.45s ease;
  opacity: 1;
}

.selected-server-green-icon {
  height: 40px;
  transition: all 0.45s ease;
  opacity: 1;
}

.logout-seperator {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background: #2f3136;
  margin-bottom: 8px;
}

.fa-sign-out-alt:before {
  content: "\f2f5";
  font-size: 20px;
}
